Ev_WCF_WApp_TFile/Ev_WCF_WApp_TFile/Service References/SRef_TextFile/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8989/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ev_WCF_SLib_TFile" />
  <xs:element name="Get_TFData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TFDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ev_WCF_SLib_TFile" minOccurs="0" name="Get_TFDataResult" nillable="true" type="q1:ArrayOfTFData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TFData_WForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FUpLoad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TFData_WFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ev_WCF_SLib_TFile" minOccurs="0" name="Get_TFData_WFormsResult" nillable="true" type="q2:ArrayOfTFData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LongestPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ev_WCF_SLib_TFile" minOccurs="0" name="LTFData" nillable="true" type="q3:ArrayOfTFData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LongestPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ev_WCF_SLib_TFile" minOccurs="0" name="Get_LongestPeriodResult" nillable="true" type="q4:ArrayOfTFData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>